@font-face {
    font-family: 'FuturaPT';
    src: url('../source/fonts/FuturaPt/FuturaPT-Light.ttf') format('truetype');
}
@font-face {
    font-family: 'SonyFixed';
    src: url('../source/fonts/Sony_Fixed/SONY-Fixed.ttf') format('truetype');
}


body {
    
    background-color: #f7efe3;
}
h1{
    text-shadow:#c50303;
    font-family: 'SonyFixed', sans-serif;
    font-size: 24px;
    
}
h2{
    font-family: 'FuturaPT', sans-serif;
    font-size: 18px;
    text-decoration: underline;
    text-underline-offset: 0.3em;
}
h2 a.refTitle{
    color: #000;
}
h3{
    font-family: 'FuturaPT', sans-serif;
    font-size: 16px;
}
p{
    font-size: 14px;
}
.description{
    font-family: 'FuturaPT',sans-serif;
    font-size: 18px;
}

.centered {
    text-align: center;
}
ul.mrgnBottom li {
    margin-bottom: 10px;
}

.my-button {
    text-align: center;
    display: block; /* Изменил значение на "block" для центрирования */
    padding: 10px 20px;
    background-color: #000000;
    color: #FFFFFF;
    text-decoration: none;
    border: none;
    border-radius: 0px;
    font-weight: bold;
    margin: 0 auto; /* Это центрирует блок по горизонтали */
}
a.contentRef{
    text-decoration: none;
    
}
a.contentRef:hover{
    color:#000;
    text-decoration: underline;
}

