$main-color: #f0f4f9;
$registration-frame-color: #ffffff;
$button-color: #0b57d0;
$fonts-settings:"Google Sans", roboto, "Noto Sans Myanmar UI", arial, sans-serif;
$error-color : #840b0b;

$container-width: 100%;
$max-width: 900px;
$background-color: white;
$box-shadow-color: #0000001a;

